    <footer>
        <div class="wrapper">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="hide">Navigation</h2>
                    <ul>
                        <li class="more"><a href="#">The Lab
                            <ul>
                                <li><a href="#">About the Lab</li>
                                <li><a href="#">Opportunities</li>
                                <li><a href="#">People</li>
                                <li><a href="#">Student Association Program</li>
                            </ul>
                        </li>
                        <li class="more"><a href="#">Research & Innovation</a>
                            <ul>
                                <li><a href="#">Research Groups</li>
                                <li><a href="#">Interest Groups</li>
                                <li><a href="#">Projects</li>
                                <li><a href="#">Tools</li>
                                <li><a href="#">Dataset</li>
                            </ul>
                        </li>
                        <li class="more"><a href="#">Venture Incubation & Sponsorship</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <a href="#"><img src="/assets/img/logo.foot.png" height="60px"></a>
                    <a href="#"><img src="/assets/img/logo.cic.png" height="60px"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>&copy; 2014 Laboratory of Pattern Engineering. All rights reserved. <a href="#">Privacy Policy</a></p>                    
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/jquery.js"></script>