    <footer>
        <div class="wrapper">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="hide">Navigation</h2>
                    <ul>
                        <li class="more"><a href="/about/">The Lab</a>
                            <ul>
                                <li><a href="/about#about">About the Lab</a></li>
                                <li><a href="/about#ecosystem">Ecosystem</a></li>
                                <li><a href="/about#people">People</a></li>
                                <li><a href="/about#opportunities">Opportunities</a></li>
                                <li><a href="/student-associateship-program/">Student Associateship Program</a></li>
                            </ul>
                        </li>
                        <li class="more"><a href="/research-and-innovations/">Research &amp; Innovation</a>
                            <ul>
                                <li><a href="/research-and-innovations/#id">Research Groups</a></li>
                                <li><a href="/research-and-innovations/#id">Interest Groups</a></li>
                                <li><a href="/research-and-innovations/#id">Projects</a></li>
                                <li><a href="/research-and-innovations/#id">Tools</a></li>
                                <li><a href="/research-and-innovations/#id">Dataset</a></li>
                            </ul>
                        </li>
                        <li class="more"><a href="#">Venture Incubation &amp; Sponsorship</a></li>
                    </ul>
                    <a href="/contact/">Contact Us</a>
                </div>
                <div class="col-md-4 text-right">
                    <a href="#"><img src="/assets/img/logo.foot.png" height="60px"></a>
                    <a href="#"><img src="/assets/img/logo.cic.png" height="60px"></a><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>&copy; 2014 Laboratory of Pattern Engineering. All rights reserved. <a href="#">Privacy Policy</a></p>                    
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ site.url }}/assets/js/jquery.js"></script>