    <header>
        <a href="https://ducic.ac.in">Cluster Innovation Centre</a>,
        <a href="http://du.ac.in">University of Delhi</a>
    </header>

    <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="{{ site.url }}" alt="Home">
                    <p>Laboratory for Pattern Engineering</p>
                    <img src="{{ site.url }}/assets/img/logo.head.png" title="Laboratory for Pattern Engineering">
                </a>
            </div>
            <div class="hamburger" onclick='$(".esy nav ul").toggleClass("open");'>
                <p>Menu</p>
                <i class="fa fa-bars"></i>
            </div>
            <ul>
                <li>
                    <a href="{{ site.url }}/about.html">The Lab</a>
                </li>
                <li>
                    <a href="#">Research &amp; Innovations</a>
                </li>
                <li>
                    <a href="#">Venture Incubation &amp; Sponsorship</a>
                </li>
            </ul>
        </div>
    </nav>