@media (min-width: 768px) {
    .esy-nav {
        background: rgba(26,26,26,1);
        border-bottom: 2px solid #000000;
        color: #FFFFFF;
        font-family: 'Source Sans Pro';
        height: 62px;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .esy-nav > .wrapper {
        margin: 0 10%;
    }
    .esy-nav .esy-small-header {
        display: none;
    }
    .esy-nav>.wrapper .esy-logo a {
        font-size: 0;
    }
    .esy-nav>.wrapper .esy-logo p {
        position: absolute;
        top: -100%;
    }
    /** esy-nav Variable Dimensions. **/
    .esy-nav>.wrapper .esy-logo img {
        height: 60px;
    }
    .esy-nav>.wrapper>ul>li {
        bosrder-right: 1px solid #FFF;
        padding: 16px 0 16px 0;
    }
    .esy-nav>.wrapper>ul>li>a {
        padding: 0 15px 0 15px;
        line-height: 18px;
        border-right: 1px solid #2F2F2F;
    }
    .esy-nav>.wrapper>ul>li:last-of-type>a {
        border-right: none;
    }
    .esy-nav>.wrapper .esy-pull-right {
        position: absolute;
		right: 10%;
		top: 0;
    }
    
    .esy-nav>.wrapper>ul>li:hover {
        background-clip: padding-box;
        background: #17222C;
    }
    .esy-nav>.wrapper>ul>li.active {
        border-bottom: 2px solid;
    }
    
    .esy-nav>.wrapper>ul {
        position: absolute;
        top: 0;
        list-style-type: none;
        margin: 0 0 0 304px;
        padding: 0;
    }
    .esy-nav>.wrapper>ul>li {
        display: inline-block;
        display: table-cell;
        /*border-right: 1px solid #656565;*/
        -webkit-transition: background 0.2s, border-bottom 0.2s;
        transition: background 0.2s, border-bottom 0.2s;
        cursor: pointer;
    }
    .esy-nav>.wrapper>ul>li>a {
        font-family: 'Source Sans Pro';
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
    }
    .esy-nav .esy-nav-dropdown {
        display: none;
        position: absolute;
        top: 46px;
        left: 0;
        right: 0;
        background: #2c2c2c;
    }
    .esy-nav .esy-nav-wrapper {
        color: #FFF;
        font-weight: 300;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .esy-nav {
        padding: 0 40px;
    }
    .esy-nav>ul>li {
        padding: 8px 5px 10px 5px;
    }
    .esy-nav li .esy-nav-dropdown {
        padding: 0px 40px;
    }
    .esy-nav>ul>li>.esy-nav-dropdown .esy-nav-wrapper {
        padding: 10px 0;
    }
    .esy-nav .esy-pull-right {
        position: absolute;
		right: 40px;
		top: 0;
    }
}

@media (max-width: 767px) {
    .esy-nav {
        position: absolute;
        background: #1c1c1c;
        color: #FFFFFF;
        overflow: auto;
        height: 100%;
        width: 70%;
        font-family: Source Sans Pro;
        z-index: 10;
        transform: translateX(-170%);
        transition-property: transform;
        transition-duration: 0.5s;
    }
    .esy-nav.open {
        transform: translateX(0);
    }
    
    .esy-small-header {
        font-size: 18px;
        font-weight: 100;
        height: 46px;
        background: #121212;
        padding: 10px 14px;
        cursor: pointer;
    }
    
    .esy-nav>ul>li {
        padding: 8px 15px 10px 15px;
    }
    .esy-nav>ul>li>.esy-nav-dropdown .esy-nav-wrapper {
        padding: 10px 0;
    }

    .esy-nav>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .esy-nav>ul>li>a {
        font-family: 'Source Sans Pro';
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
    }
    .esy-nav .esy-nav-dropdown {
        display: none;
    }
    .esy-nav .esy-nav-wrapper {
        color: #FFF;
        font-weight: 300;
    }
}

.esy-nav>ul>li>a>i {
    font-size: 16px;
}

.esy-nav-menu-fix {
    padding: 0;
    height: 100%;
}
.esy-nav-menu-fix h3 {
    margin: 0;
}
.esy-nav-menu-fix ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.esy-nav-menu-fix li {
    font-size: 16px;
}

.esy-no-margin {
    margin: 0;
}

/** Client Specific CSS */

@media (min-width: 768px) {
    .esy-init-nav {
        display: none;
    }
    .esy-init-nav a {
        display: none;
    }
}

@media (max-width: 768px) {
    .esy-init-nav {
        position: fixed;
        height: 46px;
        z-index: 9;
        width: 100%;
        marsgin: -15px -20px;
        padding: 10px 20px;
        top:0;
        background: #1c1c1c;
    }
    .esy-init-nav a {
        color: #FFFFFF;
        padding: 6px 20px;
        font-size: 18px;
        border: 1px solid #393939;
        border-radius: 5px;
    }
    .esy-init-nav a:hover, .esy-init-nav a:active {
        background: #393939;
    }
}