/** Enables the Usage of % in height throughout. */
    body, html {
        height: 100%;
        position: relative;
    }

/** esy-wrapper. Wraps the Container. */
    .esy-wrapper {
        border-left: 0px solid #656565;
        border-right: 0px solid #656565;
        position: relative;
    }
    @media (min-width: 1024px) {
        .esy-wrapper {
            margin-left: 10%;
            margin-right: 10%;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .esy-wrapper {
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    @media (max-width: 767px) {
        .esy-wrapper {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

/** esy-spacer. Top spacer. Very useful to contain a responsive thing.*/
    .esy-spacer {
        position: relative;
    }
    @media (min-width: 768px) {
        .esy-spacer {
            height: 80%;
        }
    }
    @media (max-width: 767px) {
        .esy-spacer {
            height: 90%;
        }
    }

/** Utilities. Useful everywhere! */
    .padder {
        padding: 15px;
    }
    .no-padding {
        padding: 0;
    }
    .no-margin {
        margin: 0;
    }

/** Fixes the weird outline around text when clicking. */
    a {
        color: inherit;
    }
    a:hover {
        color: inherit;
        text-decoration: none;
    }

/** The Standard "Skip To Content" link CSS. */
    a.skiptocontent {
        left:-999px;
        position:absolute;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
        z-index:-999;
    }
    a.skiptocontent:focus, a.skip-main:active {
        color: #fff;
        background-color:#000;
        left: auto;
        top: auto;
        width: 30%;
        height: auto;
        overflow:auto;
        margin: 10px 35%;
        padding:5px;
        border-radius: 15px;
        border:4px solid yellow;
        text-align:center;
        font-size:1.2em;
        z-index:999;
    }

/** The Font Files */
    @font-face {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(../fonts/RobotaSlab300.woff) format('woff');
    }
    @font-face {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/RobotaSlab400.woff) format('woff');
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 300;
      src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/SourceSans300.woff) format('woff');
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSans400.woff) format('woff');
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 600;
      src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/SourceSans600.woff) format('woff');
    }
