<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="esy">

    {% include header.html %}

    <section class="hero">
        <div class="canvas" id="cadnvas"> </div>
        <div class="wrapper">
            <div class="row">
                <aside class="col-md-4">
                    <div>
                        <p></p>
                    </div>
                </aside>
                <aside class="col-md-8">
                    <div class="caption">
                        <p class="h3"></p>
                        <p class="h4"></p>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <section id="content" class="content">
        <div class="wrapper">
            <h2>News and Events</h2>
            <li>The sky is the limit only for those who aren't afraid to fly!</li>
            <li>To go places and do things that have never been done before – that’s what living is all about.</li>
            <li>The sky is the limit only for those who aren't afraid to fly!</li>
            <li>To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?</li>
            <li>Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</li>
            <li>The sky is the limit only for those who aren't afraid to fly!</li>
            <li>To go places and do things that have never been done before – that’s what living is all about.</li>
            <li>I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</li>
        </div>
    </section>

    {% include footer.html %}

  </body>

</html>
