<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="esy">

    {% include header.html %}

    <section class="hero">
        <div class="canvas" id="" style="background: url({{ page.hero }})"> </div>
        <div class="strip">
            <div class="wrapper">
                <p class="h3">{{ page.caption }}</p>
                <p class="h4">{{ page.details }}</p>           
            </div>
        </div>
    </section>

    <section id="content" class="content">
        <div class="wrapper">
            {{ content }}
        </div>
    </section>

    {% include footer.html %}

  </body>

</html>
