<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="esy">
    {% include header.html %}
    <section class="hero small">
        <div class="canvas" id="" style="background:url({{ page.hero }}) repeat fixed">
        </div>
        <div class="strip">
            <div class="wrapper">
                <h2 class="head">{{ page.title }}</h2>            
            </div>
        </div>
    </section>
    <section id="content" class="content">
        {{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>
